<div>
	<h1>Units for hire</h1>
	<% @units.each do |unit| %>
		<div class="card card-body mb-3" >
			<div class="row" >
				<div class="col-3">
					Name: <%= unit.name %>
				</div>
				<div class="col-3">
					Size: <%= unit.size %>
				</div>
				<div class="col-3">
					Price: <%= unit.price %>
				</div>
				<div class="col-3">
					<%= link_to 'Book Now', new_booking_path, class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	<% end %>
		
</div>